<% if current_user.e_gerente? %>
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    <%= breadcrumb('gerente.base') %>
  </div>

  <li class="nav-item">
    <a class="nav-link collapsed menu-raiz" href="#" data-toggle="collapse" data-target="#collapsePerg" aria-expanded="true" aria-controls="collapsePerg">
      <i class="fa fa-fw fa-graduation-cap"></i>
      <span><%= breadcrumb('administracao.avaliacao.base') %></span>
      <span class="fa arrow"></span>
    </a>
    <div id="collapsePerg" class="collapse" aria-labelledby="collapsePerg" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <%= link_to gerente_tb_avaliacoes_path, class: 'collapse-item' do %>
          <%= breadcrumb('administracao.avaliacao.base') %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
